# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Netlify folder
.netlify

# Environments


# Temp files
*.swp
*.swo
*~

# IDE / Editor specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarnclean

# parcel-bundler cache files
.cache

# dotenv environment variables file
.env

# Gatsby files
.cache/
public

# Serverless Functions
.serverless/

# AWS SAM
.aws-sam/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase/
firebase-debug.log
database-debug.log
firestore-debug.log
ui-debug.log
firebase.json
*.firebase.*

# Firebase App Hosting
.apphosting/
apphosting.yaml
node_modules/
